@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.app{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.app__servers{
    background-color: #202225;
    padding: 1rem 0.3rem;
}

.app__serverAdd{
    background-color: #36393f !important;
    color: green !important;
}

.app__serverAdd:hover{
    background-color: rgb(13, 148, 13) !important;
    color: white !important;
}
